.articlesContent{

    background-color: $beige-1;


  .articlesList{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    
    h2{
        border: 1px solid $beige-1;
        background-color: $beige-4;
        width: 100%;
        color: $beige-1;
        padding: 1rem;
        margin-bottom: 1rem;
    }
    .description{
      font-size: 1.2rem;
      border-bottom: 1px solid $beige-4;
    }
    .content{
      padding: 1rem;
    }


    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
  }
}